<!DOCTYPE html>
<html>

<head>
    <title>Meeting App</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
    <!-- <div class="container"> -->
    <div class="l-form">
        <div class="shape1"></div>
        <div class="shape2"></div>

        <div class="form">
            <div class="form_btn">
                <form class="form__content" action="/login">
                    <h2 class="form__title">Meeting App</h2>
                    <input type="submit" class="form__buttonmeeting" value="Login">
                </form>
                <form class="form__content" action="/signup">
                    <input type="submit" class="form__button" value="Signup">
                </form>
            </div>
        </div>
    </div>
    <script src="main.js"></script>
</body>

</html>
